{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 140,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "dist/lib/roaring-wasm/roaring-wasm-module.js",
      "options": {
        "printWidth": 1073741823
      }
    }
  ]
}
